@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&family=Raleway:wght@300&family=Rubik+Vinyl&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quattrocento+Sans&family=Raleway:wght@300&family=Rubik+Vinyl&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-image: url(img/garlic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}
/*h1 {
    font-family: "Rubik Vinyl", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9.5vw;
    ;
    color: green;
    
}*/
h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    /*text-shadow: 0 0 5px rgb(250, 94, 172), 0 0 5px #FFF, 0 0 5px #FFF, 0 0 2px #baf7c9, 0 0 3px #baf7c9, 0 0 4px #64fcb5, 0 0 5px #64fcb5, 0 0 5px #64fcb5;*/
}
.title {
    /*background-color: rgba(3, 119, 28, 0.425);*/
    
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(1, 36, 10);
    border-radius: 10px;
}

article {
    background-color: rgba(3, 77, 31, 0.534);
    padding: 3rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(1, 36, 10);
    border-radius: 10px;
    text-align: center;
    /*text-shadow: 0 0 5px rgb(250, 94, 172), 0 0 5px #FFF, 0 0 5px #FFF, 0 0 2px #baf7c9, 0 0 3px #baf7c9, 0 0 4px #64fcb5, 0 0 5px #64fcb5, 0 0 5px #64fcb5;*/
    
}
.warning {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: inherit;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    margin: 5rem;
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(1, 36, 10);
    border-radius: 10px;
    background-image: url(img/garlicDrawTile.png);
    background-color: rgba(3, 77, 31, 0.534);
    /*text-shadow: 0 0 5px rgb(250, 94, 172), 0 0 5px #FFF, 0 0 5px #FFF, 0 0 2px #baf7c9, 0 0 3px #baf7c9, 0 0 4px #64fcb5, 0 0 5px #64fcb5, 0 0 5px #64fcb5;*/
}
footer {
    background-color: rgba(3, 77, 31, 0.534);
    padding: 3rem;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(1, 36, 10);
    border-radius: 10px;
    /*text-shadow: 0 0 5px rgb(250, 94, 172), 0 0 5px #FFF, 0 0 5px #FFF, 0 0 2px #baf7c9, 0 0 3px #baf7c9, 0 0 4px #64fcb5, 0 0 5px #64fcb5, 0 0 5px #64fcb5;*/
}